@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Estilos básicos para mejorar la apariencia */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1f1f1f;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    background-image: url(images/fondo.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    display: block; /* Convertir el enlace en un bloque para centrar el contenido */
    text-align: center; /* Centrar el contenido horizontalmente */
}

.logo img {
    margin-top: 10px;
    width: 120px; /* Establecer el ancho deseado para el logo */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    border-radius: 50%; /* Hacer el logo redondeado (opcional) */
    box-shadow: 0 0 10px #000000; /* Agregar una sombra (opcional) */
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: #000000;
    display: block;
    font-weight: bold; /* Letra más gruesa */
}

.menu .navbar ul li a:hover {
    color: #50A6FF;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt {
    text-align: center;
    margin-bottom: 150px;
}

.header-txt h1, h3 {
    font-size: 110px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #0056b3;
}

.header-txt span {
    font-size: 110px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #0056b3;
    margin-bottom: 10px;
}

.header-txt span {
    font-size: 25px;
}

.header-txt p {
    color: #000000;
    margin-top: 15px;
    font-size: 30px;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    border: 2px solid #ff0000;
    border-radius: 5px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin: 25px 0;
    border-radius: 15px;
}

.btn-1:hover {
    background-color: #ffffff;
    color: #000000;
}

.header-dir {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: -20px;
}

.dir h3 {
    font-size: 30px;
    text-align: center;
}

.dir p {
    font-size: 15px;
    color: #000000;
    text-transform: uppercase;
    margin-right: 60px;
    width: 100%;
}

.services {
    padding: 15px;
    text-align: center;
}

.services p {
    color: #0056b3;
    margin-bottom: 10px;
}

.services-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.services-txt h2 {
    color: #ffffff;
}

hr {
    border: 1px solid #0056b3;
    width: 90%;
}

.services-txt p {
    padding: 50px 150px;
    color: #ffffff;
    text-align: center;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
}

.services-1 {
    background-color: #070707;
    padding: 35px 25px;
    margin: 0 10px;
    border-radius: 15px;
    border: 2px solid #0056b3; /* Agrega esta línea para el contorno celeste */
}

.services-1 img {
    height: 150px;
    margin-bottom: 15px;
}

.services-1 h3 {
    font-size: 25px;
    color: #ffffff;
}

.services-1 a {
    color: #0056b3;
    font-size: 16px;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select,
input[type="date"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#confirmation {
    margin-top: 20px;
    text-align: center;
    color: #000000;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-container label {
    color: #000000;
    margin-left: 5px;
    font-weight: normal;
}

.form-container {
    margin-bottom: 15px;
}

.btn-wsp img{
    position:fixed;
    width:100px;
    height:100px;
    line-height: 63px;
    bottom: 5px;
    right:25px;
}

@media(max-width:991px) {
    .container {
        max-width: 90%;
        padding: 0 15px;
    }
    
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #50A6FF;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: block;
    }

    .menu .navbar ul li a:hover {
        color: #ffffff;
    }
    .menu .navbar a:active {
        color: rgb(255, 255, 255); /* Cambia 'red' por el color que desees */
    }
    .logo {
        display: none;
    }
    
    .container {
        max-width: 90%;
        padding: 0 15px;
    }

    .header {
        min-height: 70vh;
    }

    .header-txt {
        margin-bottom: 50px;
    }

    .header-txt h1, .header-txt h3, .header-txt span {
        font-size: 40px;
        letter-spacing: 2px;
    }

    .header-txt p {
        font-size: 20px;
        padding: 5px;
        border: 1px solid #ff0000;
    }

    .btn-1 {
        padding: 10px 20px;
        font-size: 16px;
    }

    .header-dir {
        flex-direction: column;
    }

    .dir h3 {
        font-size: 20px;
        margin-top: 15px;
    }

    .dir p {
        font-size: 14px;
        margin-right: 0;
    }

    .services-txt h2 {
        margin-top: 15px;
    }

    .services-txt p {
        padding: 20px;
        font-size: 18px;
    }

    .services-txt hr {
        width: 80%;
    }

    .services-group {
        flex-direction: column;
        align-items: center;
    }

    .services-1 {
        margin: 20px 0;
        width: 100%;
    }

    .services-1 img {
        height: 100px;
        margin-bottom: 10px;
    }

    .services-1 h3 {
        font-size: 20px;
    }

    .services-1 a {
        font-size: 14px;
    }

    .form-container {
        max-width: 80%;
        padding: 15px;
    }

    .checkbox-container {
        align-items: center;
    }

    .btn-wsp img {
        width: 75px;
        height: 75px;
        bottom: 10px;
        right: 15px;
    }
}